$color : (
    'primary' : green,
    'dark' : black,
    'warning' : orange,
);

$primaryColor : blue;

$breakpoint : (
    'mobile' :  375px,
    'table' :  678px,
    'lg' :  1024px,
    'xl' :  1440px,
);