@import './reset';
@import './mixins';

// body {
//     width: 400px;
//     margin: 100px auto;

//     @include phone() {
//         width: 100%;
//         padding: 20px;
//     }
// }

// .btn {
//     padding: 12px 24px;
//     border: 0;
//     background: gray;
//     color: #fff;
//     border-radius: 4px;

//     @include phone() {
//         background: red;
//     }
// }

// .btn-primary {
//     @extend .btn;
//     background: dodgerblue;
// }

body {
    padding: 20px;
}

// .btn {
//     padding: 10px 20px;
//     border: 0;
//     background: gray;

//     &-primary {
//         @extend .btn;
//         background: #0d6efd;
//         color: #fff;
        
//         &:hover {
//             background: #0756ce;
//         }
//     }
    
//     &-danger {
//         @extend .btn;
//         background: #dc3545;
//         color: #fff;
//     }
    
//     &-warning {
//         @extend .btn;
//         background: #ffc107;
//         color: #fff;
//     }
// }

// mobile-firts

$primaryColor : dodgerblue;

.box-container {
    padding: 2px;
    border: 4px solid darkorange;
    display: flex;
    flex-direction: column;
    
    @include breakpoint(lg){
        flex-direction: row;
        border-color: red;
    }

    .box {
        width: 100%;
        height: 200px;
        background: $primaryColor;
        margin-bottom: 2px;

        &:hover {
            background-color: darken($primaryColor, $amount: 20%);
        }

        @include breakpoint(lg){
            margin-bottom: 0;
            margin-right: 2px;
        }
    }
}
