/* body {
    background: lightblue;
}

p {
    color: red;
}

.css {
    background: blue;
    color: white;
}

.html {
    background: red;
    color: white;
}

.coba p {
    color: orange;
} */

/* h2 {
    background: blue;
} */

/* h2:nth-child(1){
    color: white;
}

h2:nth-child(2){
    color: red;
}

h2:nth-child(3){
    color: yellow;
} */
/* 
h2:first-child {
    color: white;
} */

/* ---- Margin ---- */
/* div {
    width: 100px; 
    height: 100px;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
    border: 2px solid blue;
    padding: 10px 5px 10px 5px;
} */


/* --- Font --- */
/* p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 50px;
}

p span {
    font-style: italic;
    font-size: 40px;
} */

p {
    color: red;
    text-align: left;
    text-indent: 20px;
    text-decoration: line-through;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
}